html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figcaption {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 95%;
    column-gap: 10px;
    row-gap: 10px;
}

@media all and (min-width: 772px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    img{
        border: none;
        border-radius: 0;
    }

    figure{
        border: 5px solid blue;
        border-radius: 50%;
        contain: content;
    }

    figcaption{
        padding: 1rem;
    }

    .grid figure:last-child{
        grid-column: 1 / span 2;
    }
}

@media all and (min-width: 992px){
    figure{
        border-radius: 0;
    }

    .grid figure:nth-child(3n){
        grid-column: 1 / span 2;
    }
}

@media (prefers-reduce-motion){
    html{
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark){
    figure{
        background-color: #1E1E27;
        color: #C7BF93;
        border-color: black;
    }
}